@font-face {
    font-family: 'beyond';
    src: url('../fonts/beyond_the_mountains.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-Light';
    src: url('../fonts/DIN-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-medium';
    src: url('../fonts/DINCond-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-regular';
    src: url('../fonts/DINCond-RegularAlternate.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes parpadear {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

body{
    opacity: 0;
}
.ax-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/background-map.png) no-repeat center bottom;
    background-size: cover;
}
.ax-head{
    padding: 2.5em 0;
}
.ax-logo-head{
    width: 40%;
    display: inline-block;
}
.ax-logo-head img{
    display: block;
    margin: auto;
}
.ax-description-head{
    width: 50%;
    display: inline-block;
    color: #85835c;
    vertical-align: top;
}
.ax-description-head p{
    font-family: 'DIN-Light';
    margin: 0;
    padding-bottom: 1.2em;
}

select{
    width: 100%;
    height: 46px;
    solid rgba(122,101,70,0.6) 1.5px
    color: #7a6546;
    cursor: pointer;
    outline: none;
    padding: 0 8px;
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 0;
}

.select-wrapper{
    position: relative;
}

.select-wrapper:after {
    background: url(../img/ax-lupita.png) no-repeat;
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    
}

.contentPlaces{
    height: 470px;
    margin: auto;
    position: relative;
}

.contentPlaces .ax-miniEvent{
    position: relative;
    display: inline-block;
    z-index: 10;
    vertical-align: top;
}
.contentPlaces .ax-miniEvent span{    
    background-image: url(../img/ax-small.png);
    display: inline-block;
    cursor: pointer;
    width: 225px;
    height: 150px;    
    opacity: 0;
    z-index: 10;
}

.contentPlaces .ax-miniEvent span:nth-child(1){
    position: absolute;
    top: 0;
}
.contentPlaces .ax-miniEvent span:nth-child(2){
/*    transform: scale(0.95);    */
}

[class^='ax-group']{
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.ax-group1 .ax-miniEvent[data-index="10"]{
    width: 100%;
}
.ax-group1 {
    width: 27%;
    text-align: center;
    height: 90%;
    left: 4%;
    position: absolute;
}

.ax-group1 .ax-miniEvent[data-index="13"]{
    position: absolute;
    left: 0;
}
.ax-group1 .ax-miniEvent[data-index="2"]{
    position: absolute;    
    right: 0;
}

.ax-group2{
    position: absolute;
    width: 12%;
    height: 35.9%;
    text-align: center;
    left: 0;
    top: 15%;
    right: 16.7%;
    margin: auto;
}

.ax-group3{
    position: absolute;
    width: 11%;
    height: 38.9%;
    text-align: center;
    left: 9%;
    top: 12%;
    right: 0;
    margin: auto;
}

.ax-group4{
    position: absolute;
    top: 9%;
    right: 20%;    
    width: 23.6%;
    height: 70%;
/*    border: solid 1px;*/
    text-align: center;
}

.ax-circle{
    position: absolute;
    border-radius: 50% 50%;
    margin: auto;
    width: 50px;
    height: 50px;
}

.ax-group1 .ax-circle{
    background: rgba(249, 222, 227, 0.5);
    bottom: 40%;
    right: 35%;
    margin: 0;
    z-index: 1;
}

.ax-group5 .ax-circle{
    background: #f9dee3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}
.ax-group2 .ax-circle{
    background: rgba(247, 216, 196, 0.5);    
    bottom: 0;
    left: 16%;
    right: 0;
    z-index: 1;
}

.ax-group3 .ax-circle{    
    background: rgba(227, 224, 235, 0.5);
    bottom: 3%;
    left: 29%;
    right: 0;
    z-index: 1;
}

.ax-group4 .ax-circle{
    background: rgba(246,187,191,0.5);
    top: 0;
    left: 18%;
    bottom: 5%;
    z-index: 1;
}

.ax-group7 .ax-circle{
    background: rgba(193,233,243,0.78);
    bottom: 0;
    right: 8%;
    z-index: 1;
}

.ax-group5 .ax-circle{  
    background: rgba(208,233,175,0.5);
    left: 2%;
    top: 40%;    
    right: 0;
    bottom: 0;
    z-index: 1;
}

.ax-group6 .ax-circle{
    background: #f5d89c;
    top: 15%;
}

.ax-group6{
    width: 12%;
    height: 20%;
    position: absolute;
    left: 0;
    bottom: 1%;
    right: 16%;
    margin: auto;
}
.ax-group7{
    position: absolute;
    top: 16%;
    right: 5%;
    height: 36.5%;
    z-index: 3;
}
.ax-group4 .ax-miniEvent[data-index="7"]{
    position: absolute;
    bottom: 14%;
    right: 0;
}
.ax-group4 .ax-miniEvent[data-index="12"]{
    position: absolute;
    bottom: 0;    
    left: 3%;
}
.ax-group4 .ax-miniEvent[data-index="3"]{
/*    bottom: 0;*/
}

.ax-group5 .ax-miniEvent[data-index="6"]{
    right: 0;
    position: absolute;
    top: 0;
}
.ax-group5 .ax-miniEvent[data-index="1"]{
   position: absolute;
   bottom: 0;
}

.ax-group6 .ax-miniEvent[data-index="5"]{
    position: absolute;
    right: 0;
}

.ax-group5{
    position: absolute;
    left: 0;
    bottom: 15%;
    right: 25%;
    margin: auto;
    width: 26%;
    height: 33%;
}

/*COORDENADAS PARA LAS LINEAS*/
.ax-miniEvent[data-index='1'] span:nth-child(1){
    background-position: -42px -17px;
    width: 143px;
    height: 136px;
}
.ax-miniEvent[data-index='2'] span:nth-child(1){
    background-position: -264px -53px;
    width: 144px;
    height: 97px;
}
.ax-miniEvent[data-index='3'] span:nth-child(1){
    background-position: -493px -13px;
    width: 135px;
    height: 137px;
}
.ax-miniEvent[data-index='4'] span:nth-child(1){
    background-position: -704px -33px;
    width: 152px;
}
.ax-miniEvent[data-index='5'] span:nth-child(1){
    background-position: -954px -61px;
    width: 119px;
    height: 91px;
}
.ax-miniEvent[data-index='6'] span:nth-child(1){
    background-position: -1161px -47px;
    width: 150px;
    height: 105px;
}
.ax-miniEvent[data-index='7'] span:nth-child(1){    
/*    background-position: -1350px 0;*/
    background-position: -1376px -27px;
    width: 176px;
    height: 123px;
}
.ax-miniEvent[data-index='8'] span:nth-child(1){
    background-position: -1619px -60px;
    width: 152px;
    height: 91px;
}
.ax-miniEvent[data-index='9'] span:nth-child(1){
    background-position: -1851px -34px;
    width: 128px;
    height: 117px;
}
.ax-miniEvent[data-index='10'] span:nth-child(1){
    background-position: -2059px -40px;
    width: 157px;
    height: 109px;
}
.ax-miniEvent[data-index='11'] span:nth-child(1){
    background-position: -2289px -45px;
    width: 149px;
    height: 106px;
}
.ax-miniEvent[data-index='12'] span:nth-child(1){
    background-position: -2509px -16px;
    width: 166px;
    height: 137px;
}
.ax-miniEvent[data-index='13'] span:nth-child(1){
    background-position: -2723px -34px;
    width: 183px;
    height: 117px;
}

/*COORDENADAS FULL IMAGE STEP 4*/
.ax-miniEvent[data-index='1'] span:nth-child(2){
    background-position: -42px -467px;
    width: 143px;
    height: 136px;
}
.ax-miniEvent[data-index='2'] span:nth-child(2){
    background-position: -264px -503px;
    width: 144px;
    height: 97px;
}
.ax-miniEvent[data-index='3'] span:nth-child(2){
    background-position: -493px -463px;
    width: 135px;
    height: 137px;
}
.ax-miniEvent[data-index='4'] span:nth-child(2){
    background-position: -704px -483px;
    width: 152px;
}
.ax-miniEvent[data-index='5'] span:nth-child(2){
    background-position: -954px -511px;
    width: 119px;
    height: 91px;
}
.ax-miniEvent[data-index='6'] span:nth-child(2){
    background-position: -1161px -497px;
    width: 150px;
    height: 105px;
}
.ax-miniEvent[data-index='7'] span:nth-child(2){
    background-position: -1376px -477px;
    width: 176px;
    height: 123px;
}
.ax-miniEvent[data-index='8'] span:nth-child(2){
    background-position: -1619px -510px;
    width: 152px;
    height: 91px;
}
.ax-miniEvent[data-index='9'] span:nth-child(2){
    background-position: -1851px -484px;
    width: 128px;
    height: 117px;
}
.ax-miniEvent[data-index='10'] span:nth-child(2){
    background-position: -2059px -490px;
    width: 157px;
    height: 109px;
}
.ax-miniEvent[data-index='11'] span:nth-child(2){
    background-position: -2289px -495px;
    width: 149px;
    height: 106px;
}
.ax-miniEvent[data-index='12'] span:nth-child(2){
    background-position: -2509px -466px;
    width: 166px;
    height: 137px;
}
.ax-miniEvent[data-index='13'] span:nth-child(2){
    background-position: -2723px -484px;
    width: 183px;
    height: 117px;
}

.ax-miniEvent[data-index='9']{
    position: absolute;
    top: 64%;
    left: 30%;
}

.ax-miniEvent[data-index='8']{ 
    position: absolute;
    top: 20%;
    left: 0;
}

.ax-miniEvent .ax-event{
    transition:ease-in-out .4s;
}
.ax-miniEvent:hover .ax-event{
    opacity: 1 !important;
    transition:ease-in-out .4s;
}

.ax-miniEvent:hover .ax-eventLines{
    opacity: 0 !important;
    transition:ease-in-out .4s;
}


.ax-miniEvent:hover ~ .ax-circle{
    transform: scale(2) !important;
    transition: ease-in 0.3s;    
}

.ax-svg-ruta{
    width: 100%;
    position: absolute;
    top: 37%;
}

.ax-logo-metro{
    position: absolute;
    bottom: 30px;
    right: 10px;
}

.ax-logo-flower1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 22%;
/*    animation: flower1 5s infinite;*/
}

@keyframes flower1 {
  0% { bottom: 0; transform: scale(1);}
  50% { bottom: 5px; left: 5px; transform: scale(0.99);}
  50% { bottom: 4px;}
  100% { bottom: 0; transform: scale(1);}
}

.ax-logo-flower2{
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 26%;
}
.ax-logo-flower3{
    position: absolute;
    right: 0;
    top: 21%;
    width: 14%;
}
.ax-img-map{
    width: 100%;
}
.ax-modal{
    position: absolute;
    background: #fff;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    display: none;
        z-index: 10;
/*    padding: 20px;*/
}

.ax-content-modal{
    position: relative;    
    border: solid 1px;    
}
.ax-close-modal:hover{
    transform: rotate(180deg);
}
.ax-close-modal{
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
    transition: all 0.4s;
    z-index: 10;
}
.ax-detail-left,.ax-detail-right{
    display: inline-block;
    width: 49.86%;
    vertical-align: top;
}
.ax-detail-right p{
    /*opacity: 0;*/
    /*transform: translateY(30px);*/
    margin: 2px 0;
    font-family: 'DIN-Light';
}

#map{
    width: 100%;
    height: 400px;
    display: inline-block;
    /*opacity: 0;*/
}
.ax-mainEvent{
    display: inline-block;
    cursor: pointer;
/*
    width: 800px;
    height: 533px;
*/
    /*opacity: 0;*/
    list-style-type: none;
    position: relative;
    padding: 0;
}

.ax-mainEvent li{
    position: absolute;
    background-image: url(../img/ax-large.png);
}


.ax-tittle{
    font-family: 'beyond';
    font-size: 3em;
    color: #705f34;
    padding: 17px;
    text-align: center;
    margin:4px auto;
    line-height: 1.2em;
}

.ax-content-text{
    padding: 20px 0;
}


/*JONSITO*/
.ax-detail-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #faf4e1;
    overflow: hidden;
}

.ax-detail-right .ax-close-modal {
    background: #fff;
    padding: 16px;
    right: 1.5%;
}

.ax-detail-right {
    width: 40%;
    height: 100%;
}

.ax-detail-right #map {
    height: 100%;
}

.ax-detail-left {
    width:59.7%;
    background: url(../img/ax-flores-1.png) no-repeat top left, url(../img/ax-flores-2.png) no-repeat 118% 0px;
    position: relative;
    height: 100%;
}

.ax-detail-left .ax-mainEvent {    
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ax-detail-left .ax-tittle {
    width: 80%;
    margin: 30px auto 0 auto;
    font-size: 2.4em;
}

.ax-detail-left .ax-content-text {
    background: url(../img/background-text.png) top;
    background-size: 100% 100%;
    bottom: 0;
    width: 80.4%;
    padding: 50px 10%;
    font-size: 0;
    position: absolute;
}

.ax-detail-left .ax-content-text p {
    font-family: 'DIN-regular';
    font-size: 1.5rem;
    vertical-align: top;
    margin: 0;
    color: #605f5f;
}

.ax-detail-left .ax-content-text .ax-grid-6 {
    display: inline-block;
    font-size: 0;
    width: 35%;
    vertical-align: middle;
    margin-left: 5%;
}

.ax-detail-left .ax-content-text .ax-grid-6:first-child {
    width: 60%;
    margin-left: 0;
}

.ax-detail-left .ax-content-text .title p {
    font-size: 2.2rem;
}

.ax-detail-left .ax-content-text p strong {
    font-family: 'DIN-medium';
}

@media screen and (min-width: 1920px) {
    .ax-group1{
        width: 26.3%;
        height: 96%;
    }
    .ax-group2{
        height: 38.9%;
    }
    .ax-group3{
        height: 41.4%;
    }
    .ax-miniEvent[data-index='8']{
        top: 25%;
        left: 10%;
    }
    .ax-group4{
        width: 23.1%;
        height: 74%;
    }
    .ax-group5{
        bottom: 2%;
    }
    .ax-group6{
        bottom: -16%;
        right: 15.5%;
    }
    .ax-group7{
        right: 5.6%;
        height: 39.5%;
    }
}

@media screen and (max-width: 1024px) {
    .ax-description-head{
        width: 55%;
    }
    .ax-group1{
        width: 32%;
        left: 1%;
    }
    .ax-miniEvent[data-index='9']{
        top: 58%;
        left: 14%;
    }
    .ax-group2{
        top: 13%;
    }    
    .ax-group3{
        top: 10%;
    }
    .ax-group4{
        top: 8%;
        right: 17%;
    }
    .ax-group4 .ax-miniEvent[data-index="12"]{
        left: -15%;
    }
    .ax-group4 .ax-miniEvent[data-index="7"]{
        right: -15%;
        bottom: 10%;
    }
    .ax-group4 .ax-circle{
        left: 3%;
    }
    .ax-group5{
        bottom: 19%;
        width: 32%;
    }
    .ax-group5 .ax-circle{
        top: 0;
    }
    .ax-group6{
        width: 14%;
        bottom: 8%;
    }
    .ax-group6 .ax-circle{
        top: 0;
    }
    .ax-group7{
        top: 13%;
        right: 4%;
    }
    
    /*JONSI*/
    .ax-detail-left {
        width: 59.8%;
    }
    
    .ax-detail-right {
        width: 39.8%;
    }
    
    .ax-detail-left {
        background: url(../img/ax-flores-1.png) no-repeat top left, url(../img/ax-flores-2.png) no-repeat 115% 0px;
        background-size: 100px, 250px;
    }
    
    .ax-detail-left .ax-tittle {
        margin: 20px auto 0;
        width: 80%;
        font-size: 1.8rem;
    }
    
    .ax-detail-left .ax-mainEvent {
        width: 100%;
        margin: 0;
    }
    
    .ax-mainEvent li {
        width: 80%;
        margin: 0 10%;
    }
    
    .ax-detail-right .ax-close-modal {
        padding: 12px 6px;
        right: 1.5%;
        TOP: 12px;
    }
    
    .ax-detail-right .ax-close-modal img {
        width: 70%;
        margin: 0 auto;
        display: block;
    }
    
    .ax-detail-left .ax-content-text {
        width: 90.7%;
        padding: 40px 5%;
        background-size: 160% 100%;
    }
    
    .ax-detail-left .ax-content-text p {
        font-size: 1.3rem;
    }
    
    .ax-detail-left .ax-content-text .title p {
        font-size: 1.6rem;
    }
    
    .ax-detail-left .ax-content-text .ax-grid-6 {
        width: 45%;
    }
    
    .ax-detail-left .ax-content-text .ax-grid-6:first-child {
        width: 50%;
    }
    /*imagen 1*/
    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent0 {
        margin: 0 auto;
        height: 330px;
    }
    
    .ax-detail-left .ax-mainEvent li {
        background-size: 7500px;
        height: 330px !important;
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(1) {
        background-position: -50px -30px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(2){
        background-position: -50px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(3) {
        background-position: -50px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(4) {
        background-position: -50px -2721px;
    }
    /*imagen 2*/
    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent1 {
        margin: 0 auto;
        height: 330px;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(1) {
        background-position: -630px -70px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(2){
        background-position: -630px -455px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(3) {
        background-position: -630px -839px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(4) {
        background-position: -630px -2761px;
    }
    
    /*imagen 3*/
    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent2 {
        margin: 0 auto;
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li {
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(1) {
        background-position: -1240px -40px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(2){
        background-position: -1240px -425px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(3) {
        background-position: -1240px  -809px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(4) {
        background-position: -1240px -2731px;
    }
    
    
    /*imagen 4*/
    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent3 {
        margin: 0 auto;
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li {
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(1) {
        background-position: -1730px -40px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(2){
        background-position: -1730px -425px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(3) {
        background-position: -1730px  -809px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(4) {
        background-position: -1730px -2731px;
    }
    
    /*imagen 5*/
    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent4 {
        margin: 0 auto;
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li {
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(1) {
        background-position: -2380px -90px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(2){
        background-position: -2380px -475px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(3) {
        background-position: -2380px  -859px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(4) {
        background-position: -2380px -2781px;
    }
    
    /*imagen 6*/
    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent5 {
        margin: 0 auto;
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li {
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(1) {
        background-position: -2870px -90px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(2){
        background-position: -2870px -475px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(3) {
        background-position: -2870px  -859px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(4) {
        background-position: -2870px -2781px;
    }
    
    /*imagen 7*/
    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent6 {
        margin: 0 auto;
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li {
        height: 383px !important;
        background-size: 7400px;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(1) {
        background-position: -3420px -70px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(2){
        background-position: -3420px -449px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(3) {
        background-position: -3420px  -828px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(4) {
        background-position: -3420px -2725px;
    }
    
    /*imagen 8*/
    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent7 {
        margin: 0 auto;
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li {
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(1) {
        background-position: -4060px -90px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(2){
        background-position: -4060px -475px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(3) {
        background-position: -4060px  -859px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(4) {
        background-position: -4060px -2781px;
    }
    
    /*imagen 9*/
    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent8 {
        margin: 0 auto;
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li {
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(1) {
        background-position: -4630px -50px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(2){
        background-position: -4630px -435px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(3) {
        background-position: -4630px  -819px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(4) {
        background-position: -4630px -2741px;
    }    
    
    
    
    
    /*imagen 12*/    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent12 {
        margin: 0 auto;
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li {
        height: 383px !important;
    }
    
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(1) {
        background-position: -6900px -40px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(2){
        background-position: -6900px -425px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(3) {
        background-position: -6900px  -809px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(4) {
        background-position: -6900px -2731px;
    }
    
    /*imagen 11*/
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent11 {
        margin: 0 auto;
        height: 383px !important;
    }    
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li {
        height: 383px !important;
    }    
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(1) {
        background-position: -6340px -40px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(2){
        background-position: -6340px -425px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(3) {
        background-position: -6340px -809px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(4) {
        background-position: -6340px -2731px;
    }    
    
    /*imagen 10*/    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent10 {
        margin: 0 auto;
        height: 383px !important;
    }    
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li {
        height: 383px !important;
    }    
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(1) {
        background-position: -5775px -40px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(2){
        background-position: -5775px -425px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(3) {
        background-position: -5775px  -809px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(4) {
        background-position: -5775px -2731px;
    }
    
    /*imagen 9*/    
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent9 {
        margin: 0 auto;
        height: 383px !important;
    }    
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li {
        height: 383px !important;
    }    
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(1) {
        background-position: -5210px -40px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(2){
        background-position: -5210px -425px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(3) {
        background-position: -5210px  -809px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(4) {
        background-position: -5210px -2731px;
    }
}

@media screen and (max-width: 768px) {
    .ax-head{
        padding: 1em 0;
    }
    .ax-description-head{
        width: 80%;
        margin: auto;
        display: block;
    }
    .ax-logo-head{
        width: 100%;
    }
    .ax-svg-ruta,.ax-circle{
        display: none;
    }
    .ax-group1,.ax-group4,.ax-group2,.ax-group3,.ax-group6{
        position: relative;
    }
    .ax-group1{
        width: 47%;
    }
    .ax-group2{        
        width: 17%;
    }
    .ax-group3{
        width: 21%;
    }
    .ax-group7{
        top: 43%;
    }
    .ax-group5{
        right: 0;
        width: 40%;
    }
    
    /*JONSI*/
    .ax-detail-modal {
        overflow-y: auto;
    }
    
    .ax-detail-left, .ax-detail-right {
        width: 100%;
    }
    
    .ax-mainEvent li {
        width: 62%;
        margin: 0 19%;
    }
    
    .ax-detail-right .ax-close-modal {
        position: fixed;
    }
}

@media screen and (max-width: 568px) {
    .ax-group1{
        width: 99%;
        height: auto;
    }    
    .ax-group1 .ax-miniEvent[data-index="2"],.ax-group1 .ax-miniEvent[data-index="13"]{
        position: relative;
    }
    .ax-miniEvent[data-index='9']{
        position: relative;
        top: 0;
        left: 0;
    }
    .ax-group2,.ax-group3{
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        height: auto;
    }    
    .ax-group4{
        right: 0;
        width: 100%;
    }    
    .ax-miniEvent[data-index='8']{
        position: relative;
        top: 0;
    }
    .ax-group4 .ax-miniEvent[data-index="12"]{
        left: 0;
        position: relative;
    }    
    .ax-group4 .ax-miniEvent[data-index="7"]{
        top: 0;
        bottom: 0;
        position: relative;
        right: 0;
    }
    .ax-group7{
        top: 0;
        position: relative;
        width: 100%;
        right: 0;
        height: auto;
        text-align: center;
    }
    
    .ax-group5{
        position: relative;
        width: 100%;
        top: 0;
    }
    .ax-group6{
        width: 100%;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .ax-group6 .ax-miniEvent[data-index="5"]{
        position: relative;
    }
    
    /*JONSI*/
    .ax-detail-left, .ax-detail-right {
        height: auto;
    }    
    .ax-detail-right {
        height: 70%;
    }    
    .ax-detail-left .ax-tittle {
        margin: 40px auto 0;
    }    
    .ax-detail-left {
        background: url(../img/ax-flores-1.png) no-repeat -1px -85px , url(../img/ax-flores-2.png) no-repeat 135% 0px;
        background-size: 100px, 250px;
    }    
    .ax-detail-left .ax-tittle {
        width: 65%;
        font-size: 2.2rem;
    }    
    .ax-mainEvent li {
        width: 100%;
        margin: 0;
    }    
    .ax-detail-left .ax-content-text {
        width: 90.7%;
        padding: 50px 5%;
        position: initial;
        background-size: 250% 120%;
    }    
    .ax-detail-left .ax-mainEvent {
        height: 390px;
        width: 90%;
        margin: 0 auto;
    }    
    .ax-mainEvent li {
        background-size: 7250px;
        height: 383px !important;
    }    
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(1) {
        background-position: -90px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(2){
        background-position: -90px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(3){
        background-position: -90px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(4){
        background-position: -90px -2721px;
    }
    
    /*Imagen 2*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(1) {
        background-position: -646px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(2){
        background-position: -646px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(3){
        background-position: -646px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(4){
        background-position: -646px -2721px;
    }
    
    /*Imagen 3*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(1) {
        background-position: -1234px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(2){
        background-position: -1234px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(3){
        background-position: -1234px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(4){
        background-position: -1234px -2721px;
    }
    
    /*Imagen 4*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(1) {
        background-position: -1800px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(2){
        background-position: -1800px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(3){
        background-position: -1800px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(4){
        background-position: -1800px -2721px;
    }
    
    /*Imagen 5*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(1){
        background-position: -2370px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(2){
        background-position: -2370px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(3){
        background-position: -2370px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(4){
        background-position: -2370px -2721px;
    }
    
    /*Imagen 6*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(1){
        background-position: -2962px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(2){
        background-position: -2962px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(3){
        background-position: -2962px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(4){
        background-position: -2962px -2721px;
    }
    
    /*Imagen 7*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(1){
        background-position: -3488px -49px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(2){
        background-position: -3488px -429px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(3){
        background-position: -3488px -808px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(4){
        background-position: -3488px -2704px;
    }
    
    /*Imagen 8*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(1){
        background-position: -4140px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(2){
        background-position: -4140px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(3){
        background-position: -4140px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(4){
        background-position: -4140px -2721px;
    }
    
    /*Imagen 9*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(1){
        background-position: -4700px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(2){
        background-position: -4700px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(3){
        background-position: -4700px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(4){
        background-position: -4700px -2721px;
    }
    
    /*Imagen 10*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(1){
        background-position: -5264px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(2){
        background-position: -5264px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(3){
        background-position: -5264px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(4){
        background-position: -5264px -2721px;
    }
    
    /*Imagen 11*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(1){
        background-position: -5844px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(2){
        background-position: -5844px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(3){
        background-position: -5844px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(4){
        background-position: -5844px -2721px;
    }
    
    /*Imagen 12*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(1){
        background-position: -6426px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(2){
        background-position: -6426px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(3){
        background-position: -6426px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(4){
        background-position: -6426px -2721px;
    }
    
    /*Imagen 13*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(1){
        background-position: -7006px -30px;
        height: 383px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(2){
        background-position: -7006px -414px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(3){
        background-position: -7006px -799px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(4){
        background-position: -7006px -2721px;
    }
}

@media screen and (max-width: 375px) {
    .ax-detail-left .ax-mainEvent {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .ax-detail-left .ax-tittle {
        width: 90%;
        font-size: 2rem;
    }    
    .ax-detail-left .ax-tittle {
        margin: 60px auto 0;
    }    
    .ax-mainEvent li {
        background-size: 6400px;
        height: 323px !important;
    }    
    .ax-detail-left .ax-mainEvent {
        height: 320px;
    }
    .ax-detail-left .ax-content-text {
        width: 90%;
        padding: 60px 5% 40px;
        background-size: 300% 120%;
        background-position: 311px 0;
    }    
    .ax-detail-left .ax-content-text .ax-grid-6 {
        width: 100%;
        margin: 0;
    }    
    .ax-detail-left .ax-content-text .ax-grid-6:first-child {
        margin-bottom: 20px;
        width: 100%;
    }
    
    .ax-detail-left .ax-mainEvent li{
        background-size: 6300px;
    }
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent2,.ax-detail-left .ax-mainEvent.ax-mainEvent2 li{
        height: 323px !important;        
    }
    /*Imagen 1*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(1) {
        background-position: -90px -40px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(2){
        background-position: -90px -362px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(3){
        background-position: -90px -685px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent0 li:nth-child(4){
        background-position: -90px -3591px;
    }
    
    /*Imagen 2*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(1) {
        background-position: -564px -40px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(2){
        background-position: -564px -362px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(3){
        background-position: -564px -685px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent1 li:nth-child(4){
        background-position: -564px -3591px;
    }
    
    /*Imagen 3*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(1) {
        background-position: -1054px -28px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(2){
        background-position: -1054px -350px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(3){
        background-position: -1054px -673px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent2 li:nth-child(4){
        background-position: -1054px -3579px;
    }
    
    /*Imagen 4*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(1) {
        background-position: -1521px -28px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(2){
        background-position: -1521px -350px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(3){
        background-position: -1521px -673px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent3 li:nth-child(4){
        background-position: -1521px -3579px;
    }
    
    /*Imagen 5*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(1) {
        background-position: -2005px -28px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(2){
        background-position: -2005px -350px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(3){
        background-position: -2005px -673px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent4 li:nth-child(4){
        background-position: -2005px -3579px;
    }
    
    /*Imagen 6*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(1) {
        background-position: -2501px -28px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(2){
        background-position: -2501px -350px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(3){
        background-position: -2501px -673px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent5 li:nth-child(4){
        background-position: -2501px -3579px;
    }
    
    
    /*Imagen 7*/    
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li{
        background-size: 5900px;
    }
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent6,.ax-detail-left .ax-mainEvent.ax-mainEvent6 li{
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(1){
        background-position: -2802px -7px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(2){
        background-position: -2802px -310px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(3){
        background-position: -2802px -611px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent6 li:nth-child(4){
        background-position: -2802px -3332px;
    }
    
    /*Imagen 8*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(1) {
        background-position: -3493px -28px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(2){
        background-position: -3493px -350px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(3){
        background-position: -3493px -673px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent7 li:nth-child(4){
        background-position: -3493px -3579px;
    }
    
    /*Imagen 9*/
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent8,.ax-detail-left .ax-mainEvent.ax-mainEvent8 li{
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(1) {
        background-position: -3969px -28px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(2){
        background-position: -3969px -350px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(3){
        background-position: -3969px -673px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent8 li:nth-child(4){
        background-position: -3969px -3579px;
    }
    
    /*Imagen 10*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(1) {
        background-position: -4447px -28px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(2){
        background-position: -4447px -350px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(3){
        background-position: -4447px -673px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent9 li:nth-child(4){
        background-position: -4447px -3579px;
    }
    
    /*Imagen 11*/
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent10,.ax-detail-left .ax-mainEvent.ax-mainEvent10 li{
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(1) {
        background-position: -4928px -28px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(2){
        background-position: -4928px -350px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(3){
        background-position: -4928px -673px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent10 li:nth-child(4){
        background-position: -4928px -3579px;
    }
    
    /*Imagen 12*/
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent11,.ax-detail-left .ax-mainEvent.ax-mainEvent11 li{
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(1) {
        background-position: -5403px -28px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(2){
        background-position: -5403px -350px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(3){
        background-position: -5403px -673px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent11 li:nth-child(4){
        background-position: -5403px -3579px;
    }
    
    /*Imagen 13*/
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li{
        background-size: 5400px;
    }
    .ax-detail-left ul.ax-mainEvent.ax-mainEvent12,.ax-detail-left .ax-mainEvent.ax-mainEvent12 li{
        height: 300px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(1) {
        background-position: -5035px -28px;
        height: 323px !important;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(2){
        background-position: -5035px -305px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(3){
        background-position: -5035px -582px;
    }
    .ax-detail-left .ax-mainEvent.ax-mainEvent12 li:nth-child(4){
        background-position: -5035px -859px;
    }
}

/*
.ax-mainEvent.ax-mainEvent0{
    background-position: -0px -1599px;
}
*/
.ax-eventRow3.papadear{
    transition: ease-in .3s;
    animation: parpadear 1.5s infinite;
    -webkit-animation: parpadear 1.5s infinite;
}

.ax-mainEvent li:not(:nth-child(1)){
    opacity: 0;
}
.ax-mainEvent.ax-mainEvent0 li,ul.ax-mainEvent.ax-mainEvent0{
    width: 510px;
    height: 480px;
}

.ax-mainEvent.ax-mainEvent0 li:nth-child(1){
    background-position: -150px -56px;
}
.ax-mainEvent.ax-mainEvent0 li:nth-child(2){
    background-position: -150px -588px;
}
.ax-mainEvent.ax-mainEvent0 li:nth-child(3){
    background-position: -150px -1122px;
}
.ax-mainEvent.ax-mainEvent0 li:nth-child(4){
    background-position: -150px -1654px;
}

/*
.ax-mainEvent.ax-mainEvent1{
    background-position: -800px -1599px;
}
*/
.ax-mainEvent.ax-mainEvent1 li,ul.ax-mainEvent.ax-mainEvent1{
    width: 533px;
    height: 360px;
}
.ax-mainEvent.ax-mainEvent1 li:nth-child(1){
    background-position: -934px -184px;
}
.ax-mainEvent.ax-mainEvent1 li:nth-child(2){
    background-position: -934px -717px;
}
.ax-mainEvent.ax-mainEvent1 li:nth-child(3){
    background-position: -934px -1250px;
}
.ax-mainEvent.ax-mainEvent1 li:nth-child(4){
    background-position: -934px -1783px;
}
/*
.ax-mainEvent.ax-mainEvent2{
    background-position: -1600px -1599px;
}
*/
.ax-mainEvent.ax-mainEvent2 li,ul.ax-mainEvent.ax-mainEvent2{
    width: 475px;
    height: 485px;
}

.ax-mainEvent.ax-mainEvent2 li:nth-child(1){
    background-position: -1756px -44px;
}
.ax-mainEvent.ax-mainEvent2 li:nth-child(2){
    background-position: -1756px -577px;
}
.ax-mainEvent.ax-mainEvent2 li:nth-child(3){
    background-position: -1756px -1109px;
}
.ax-mainEvent.ax-mainEvent2 li:nth-child(4){
    background-position: -1756px -1642px;
}

/*
.ax-mainEvent.ax-mainEvent3{
    background-position: -2400px -1599px;
}
*/
.ax-mainEvent.ax-mainEvent3 li,ul.ax-mainEvent.ax-mainEvent3{
    width: 545px;
    height: 424px;
}
.ax-mainEvent.ax-mainEvent3 li:nth-child(1){
    background-position: -2495px -115px;
}
.ax-mainEvent.ax-mainEvent3 li:nth-child(2){
    background-position: -2495px -648px;
}
.ax-mainEvent.ax-mainEvent3 li:nth-child(3){
    background-position: -2495px -1182px;
}
.ax-mainEvent.ax-mainEvent3 li:nth-child(4){
    background-position: -2495px -1715px;
}

/*.ax-mainEvent.ax-mainEvent4{
    background-position: -3200px -1599px;
}*/
.ax-mainEvent.ax-mainEvent4 li,ul.ax-mainEvent.ax-mainEvent4{
    width: 422px;
    height: 324px;
}
.ax-mainEvent.ax-mainEvent4 li:nth-child(1){
    background-position: -3393px -214px;
}
.ax-mainEvent.ax-mainEvent4 li:nth-child(2){
    background-position: -3393px -747px;
}
.ax-mainEvent.ax-mainEvent4 li:nth-child(3){
    background-position: -3393px -1280px;
}
.ax-mainEvent.ax-mainEvent4 li:nth-child(4){
    background-position: -3393px -1813px;
}

/*
/// IMAGEN 12
*/
.ax-mainEvent.ax-mainEvent12 li,ul.ax-mainEvent.ax-mainEvent12{
    width: 640px;
    height: 480px;
}

.ax-mainEvent.ax-mainEvent12 li:nth-child(1) {
    background-position: 99.2% -70px;
}
.ax-mainEvent.ax-mainEvent12 li:nth-child(2){
    background-position: 99.2% -602px;
}
.ax-mainEvent.ax-mainEvent12 li:nth-child(3){
    background-position: 99.2% -1135px;
   
}
.ax-mainEvent.ax-mainEvent12 li:nth-child(4){
    background-position: 99.2% -1668px;
}

/*
/// IMAGEN 11
*/
.ax-mainEvent.ax-mainEvent11 li,ul.ax-mainEvent.ax-mainEvent11 {
    width: 540px;
    height: 490px;
}

.ax-mainEvent.ax-mainEvent11 li:nth-child(1) {
    background-position: 90.45% -40px;
}
.ax-mainEvent.ax-mainEvent11 li:nth-child(2){
    background-position: 90.45% -573px;
}
.ax-mainEvent.ax-mainEvent11 li:nth-child(3){
    background-position: 90.45% -1106px;
}
.ax-mainEvent.ax-mainEvent11 li:nth-child(4){
    background-position: 90.45% -1639px;
    
}
/*
/// IMAGEN 10
*/
.ax-mainEvent.ax-mainEvent10 li,ul.ax-mainEvent.ax-mainEvent10 {
    width: 540px;
    height: 450px;
}

.ax-mainEvent.ax-mainEvent10 li:nth-child(1) {
    background-position: 82.45% -90px;
}
.ax-mainEvent.ax-mainEvent10 li:nth-child(2){
    background-position: 82.45% -623px;
}
.ax-mainEvent.ax-mainEvent10 li:nth-child(3){
    background-position: 82.45% -1156px;
}
.ax-mainEvent.ax-mainEvent10 li:nth-child(4){
    background-position: 82.45% -1689px;
}
/*
/// IMAGEN 9
*/
.ax-mainEvent.ax-mainEvent9 li,ul.ax-mainEvent.ax-mainEvent9 {
    width: 580px;
    height: 450px;
}

.ax-mainEvent.ax-mainEvent9 li:nth-child(1) {
    background-position: 74.4% -90px;
}
.ax-mainEvent.ax-mainEvent9 li:nth-child(2){
    background-position: 74.4% -623px;
}
.ax-mainEvent.ax-mainEvent9 li:nth-child(3){
    background-position: 74.4% -1156px;
}
.ax-mainEvent.ax-mainEvent9 li:nth-child(4){
    background-position: 74.4% -1689px;
}

/*
/// IMAGEN 8
*/
.ax-mainEvent.ax-mainEvent8 li,ul.ax-mainEvent.ax-mainEvent8 {
    width: 580px;
    height: 450px;
}

.ax-mainEvent.ax-mainEvent8 li:nth-child(1) {
    background-position: 66.3% -90px;
}
.ax-mainEvent.ax-mainEvent8 li:nth-child(2){
    background-position: 66.3% -623px;
}
.ax-mainEvent.ax-mainEvent8 li:nth-child(3){
    background-position: 66.3% -1156px;
}
.ax-mainEvent.ax-mainEvent8 li:nth-child(4){
    background-position: 66.3% -1689px;
}

/*
/// IMAGEN 7
*/
.ax-mainEvent.ax-mainEvent7 li,ul.ax-mainEvent.ax-mainEvent7 {
    width: 570px;
    height: 380px;
}

.ax-mainEvent.ax-mainEvent7 li:nth-child(1) {
    background-position: 58.5% -160px;
}
.ax-mainEvent.ax-mainEvent7 li:nth-child(2){
    background-position: 58.5% -693px;
}
.ax-mainEvent.ax-mainEvent7 li:nth-child(3){
    background-position: 58.5% -1226px;
}
.ax-mainEvent.ax-mainEvent7 li:nth-child(4){
    background-position: 58.5% -1759px;
}

/*
/// IMAGEN 6
*/
.ax-mainEvent.ax-mainEvent6 li,ul.ax-mainEvent.ax-mainEvent6 {
    width: 620px;
    height: 450px;
}

.ax-mainEvent.ax-mainEvent6 li:nth-child(1) {
    background-position: 49.99% -90px;
}
.ax-mainEvent.ax-mainEvent6 li:nth-child(2){
    background-position: 49.99% -623px;
}
.ax-mainEvent.ax-mainEvent6 li:nth-child(3){
    background-position: 49.99% -1156px;
}
.ax-mainEvent.ax-mainEvent6 li:nth-child(4){
    background-position: 49.99% -1689px;
}

/*
/// IMAGEN 5
*/
.ax-mainEvent.ax-mainEvent5 li,ul.ax-mainEvent.ax-mainEvent5 {
    width: 580px;
    height: 450px;
}

.ax-mainEvent.ax-mainEvent5 li:nth-child(1) {
    background-position: 42% -90px;
}
.ax-mainEvent.ax-mainEvent5 li:nth-child(2){
    background-position: 42% -623px;
}
.ax-mainEvent.ax-mainEvent5 li:nth-child(3){
    background-position: 42% -1156px;
}
.ax-mainEvent.ax-mainEvent5 li:nth-child(4){
    background-position: 42% -1689px;
}